################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyDashboardUI/MyDashboardUI/bin/Debug/net8.0
/MyDashboardUI/MyDashboardUI/obj
